# American Dream OS API Base URL
VITE_API_BASE_URL=https://unfraternised-luella-unexpeditiously.ngrok-free.dev
# Image Base URL (e.g. backend /media directory or CDN)
VITE_IMAGE_BASE_URL=https://unfraternised-luella-unexpeditiously.ngrok-free.dev/media
